.Video-detail-dot {
  color: #475569;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .Video-detail-dot {
    margin-top: 10px;
  }
}

@media screen and (min-width: 576px) {
  .video-count-dot {
    display: none;
  }
}

.video-link {
  text-decoration: none;
}
